*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.container{
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar-brand{
    color: blue;
    font-size: 2rem;
    font-weight: 800;
    
}

.navbar-nav{
  position: fixed;
  text-decoration: none;
top: 0;
  left: 0;
  width: 45%;
  margin-left: 60%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;

}
.home-content{
    color: white;
    position: relative;
   width: 100%;
   
   height: 100vh;
   background-image: url("https://th.bing.com/th/id/OIP.4o5pIpQ8HKrdjmArZV8BPgHaEK?w=247&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   align-items: center;
   padding: 450px 500px;
}
